In [1]:
import pandas as pd
import numpy as np

In [2]:
list_1=[11,12,13]

In [3]:
list_1

[11, 12, 13]

In [15]:
a_series=pd.Series(list_1,index=["Sun","mon","Tue"])

In [16]:
a_series

Sun    11
mon    12
Tue    13
dtype: int64

In [17]:
a_series.ndim

1

In [18]:
type(a_series)

pandas.core.series.Series

In [19]:
len(a_series)

3

In [20]:
a_series.shape

(3,)

In [21]:
a_series.size

3

In [22]:
a_series.values

array([11, 12, 13], dtype=int64)

In [23]:
a_series.keys()

Index(['Sun', 'mon', 'Tue'], dtype='object')

# Data frame is a (2d)

In [24]:
my_dic={"Name":["Sachin","Praveen"],"Age":[30,35],"Edu":["Engg","Med"]}

In [25]:
my_dic

{'Name': ['Sachin', 'Praveen'], 'Age': [30, 35], 'Edu': ['Engg', 'Med']}

In [26]:
df=pd.DataFrame(my_dic)

In [27]:
df

      Name  Age   Edu
0   Sachin   30  Engg
1  Praveen   35   Med

In [28]:
df.shape

(2, 3)

In [29]:
df.ndim

2

In [30]:
type(df)

pandas.core.frame.DataFrame

In [31]:
df.size

6

In [32]:
df.keys()

Index(['Name', 'Age', 'Edu'], dtype='object')

In [33]:
df.values

array([['Sachin', 30, 'Engg'],
       ['Praveen', 35, 'Med']], dtype=object)

In [34]:
len(df)

2

In [36]:
#df.["Name"]
df.Name

0     Sachin
1    Praveen
Name: Name, dtype: object

In [38]:
df.columns

Index(['Name', 'Age', 'Edu'], dtype='object')

In [39]:
df.keys()

Index(['Name', 'Age', 'Edu'], dtype='object')

In [40]:
df_value=df.values

In [41]:
df_value

array([['Sachin', 30, 'Engg'],
       ['Praveen', 35, 'Med']], dtype=object)

In [42]:
type(df_value)

numpy.ndarray

In [45]:
pop_data=pd.read_excel(r"C:\Users\sk414\OneDrive\Desktop\ML project\DataSets-master\DataSets-master\Population_Summary.xlsx")

In [46]:
pop_data

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
0,1,Uttar Pradesh,199812341,77.73,22.27,16.50,20.23,Brazil,5
1,2,Maharashtra,112374333,54.78,45.22,9.28,15.99,Mexico,11
2,3,Bihar,104099452,88.71,11.29,8.60,25.42,Philippines,12
3,4,West Bengal,91276115,68.13,31.87,7.54,13.84,Viet Nam,14
4,5,Andhra Pradesh,84580777,66.64,33.36,6.99,10.98,Egypt,15
5,6,Madhya Pradesh,72626809,72.37,27.63,6.00,20.35,Turkey,18
6,7,Tamil Nadu,72147030,51.60,48.40,5.96,15.61,Turkey,18
7,8,Rajasthan,68548437,75.13,24.87,5.66,21.31,Congo,19
8,9,Karnataka,61095297,61.33,38.67,5.05,15.60,Italy,23
9,10,Gujarat,60439692,57.40,42.60,4.99,19.28,Italy,23
10,11,Odisha,41974218,83.31,16.69,3.47,14.05,Argentina,32
11,12,Kerala,33406061,52.30,47.70,2.76,4.91,Morocco,39
12,13,Jharkhand,32988134,75.95,24.05,2.72,22.42,Morocco,39
13,14,Assam,31205576,85.90,14.10,2.58,17.07,Afghanistan,40
14,15,Punjab,27743338,62.52,37.48,2.29,13.89,Nepal,46
15,16,Chhattisgarh,25545198,76.76,23.24,2.11,22.61,Korea,49
16,17,Haryana,25351462,65.12,34.88,2.09,19.90,Korea,49
17,NCT,Delhi,16787941,2.50,97.50,1.39,21.21,Netherlands,64
18,18,Jammu & Kashmir,12541302,72.62,27.38,1.04,23.64,Chad,73
19,19,Uttarakhand,10086292,69.77,30.23,0.83,18.81,Hungary,89
20,20,Himachal Pradesh,6864602,89.97,10.03,0.57,12.94,Paraguay,105
21,21,Tripura,3673917,73.83,26.17,0.30,14.84,Oman,130
22,22,Meghalaya,2966889,79.93,20.07,0.25,27.95,Armenia,139
23,23,Manipur,2855794,70.79,29.21,0.24,24.50,Jamaica,141
24,24,Nagaland,1978502,71.14,28.86,0.16,-0.58,Botswana,148
25,25,Goa,1458545,37.83,62.17,0.12,8.23,Gabon,151
26,26,Arunachal Pradesh,1383727,77.06,22.94,0.11,26.03,Trinidad and Tobago,152
27,UT1,Puducherry,1247953,31.67,68.33,0.10,28.08,Mauritius,156
28,27,Mizoram,1097206,47.89,52.11,0.09,23.48,Timor-Leste,158
29,UT2,Chandigarh,1055450,2.75,97.25,0.09,17.19,Timor-Leste,158
30,28,Sikkim,610577,74.85,25.15,0.05,12.89,Montenegro,166
31,UT3,A.& N.Islands,380581,62.30,37.70,0.03,6.86,Bahamas,177
32,UT4,D.& N.Haveli,343709,53.28,46.72,0.03,55.88,Belize,179
33,UT5,Daman & Diu,243247,24.83,75.17,0.02,53.76,Vanuatu,184
34,UT6,Lakshadweep,64473,21.93,78.07,0.01,6.30,Bermuda,205